* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  margin: 0 auto;
}

img {
  width: 100%;
}


/* BUTTON */

.page-btn {
  background-color: #4892BF;
  font-weight: 700;
  color: white;
  &:hover {
    background-color: #7bbae0;
    
  }
}